div.cache {
  display: block;
  float: left;
}

table.cache-details {
  border: solid 1px silver;
  margin: 10px;

  tr {
    th, td {
      border: solid 1px silver;
      padding: 5px;
    }
    th {
      text-align: left;

      &.cache-name {
        background-color: whitesmoke;
        text-align: center;
        a {
          text-decoration: none;
          color: black;

          &:hover {
            color: orange;
          }
        }
      }
    }
    td {
      width: 100px;
    }
  }
}
