.DS_Store
target
.idea/workspace.xml
.idea/jarRepositories.xml
.idea/excludeFromValidation
.idea/libraries
.idea/template/template_variable_settings.xml
*.iml
pom.xml.versionsBackup
versions.properties
.flattened-pom.xml
*~

# Maven:
.effective-pom.xml
.dependency-tree.txt
.foreach-deps.txt

# Emacs:
*~
