<body xmlns:th="http://www.thymeleaf.org" xmlns:across="http://across.foreach.be">
<div id="inline-data-css">
    <style th:each="css : ${webResourceRegistry.getResources('css')}"
           th:if="${css.location == 'inline' or css.location == 'data'}">[[${css.data}]]</style>
</div>

<div id="not-inline-or-data-css">
    <link th:each="css : ${webResourceRegistry.getResources('css')}" rel="stylesheet" th:href="@{${css.data}}"
          th:if="${css.location != 'inline' and css.location != 'data'}"></link>
</div>

<div id="inline-javascript">
    <script th:each="javascript : ${webResourceRegistry.getResources('javascript')}" th:src="@{${javascript.data}}"
            th:if="${javascript.location == 'inline'}"></script>
</div>

<div id="data-javascript">
    <!--/* Include the javascript added using the web resource registry */-->
    <script th:each="javascript :${webResourceRegistry.getResources('javascript')}" type="text/javascript"
            th:if="${javascript.location == 'data'}" th:inline="javascript">
        (function ( Across ) {
            Across['' + [[${javascript.key}]]] = [[${javascript.data}]];
        })( window.Across = window.Across || {} );
    </script>
</div>

<div id="not-inline-and-data-javascript">
    <script th:each="javascript : ${webResourceRegistry.getResources('javascript')}" th:src="@{${javascript.data}}"
            th:if="${javascript.location != 'inline' and javascript.location != 'data'}"></script>
</div>

<div id="javascript-page-end">
    <script th:each="javascript : ${webResourceRegistry.getResources('javascript-page-end')}" th:src="@{${javascript.data}}"
            th:if="${javascript.location != 'inline' and javascript.location != 'data'}"></script>
</div>

<div id="javascript-page-end-data">
    <script th:each="javascript :${webResourceRegistry.getResources('javascript-page-end')}" type="text/javascript"
            th:if="${javascript.location == 'data'}" th:inline="javascript">
        (function ( Across ) {
            Across['' + [[${javascript.key}]]] = [[${javascript.data}]];
        })( window.Across = window.Across || {} );
    </script>
</div>

<div id="javascript-page-end-inline">
    <script th:each="javascript : ${webResourceRegistry.getResources('javascript-page-end')}" th:src="@{${javascript.data}}"
            th:if="${javascript.location == 'inline'}"></script>
</div>

<div id="bucket-css">
    <across:web-resources bucket="css"/>
</div>

<div id="bucket-javascript">
    <across:web-resources bucket="javascript"/>
</div>

<div id="bucket-javascript-page-end">
    <across:web-resources bucket="javascript-page-end"/>
</div>

<div id="empty-bucket">
    <across:web-resources bucket="non-existing"/>
</div>
</body>